<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
 
<ion-content>
    <ion-card-content class="ion-text-center">
        <img src="{{appurl}}themes/default/images/logo/logo_plain.png" class="info-img">
        
        <div>Dit is een demonstratie app, met wat toelichting op de zoek & boek</div>
    </ion-card-content>
    
    
</ion-content>
